.container{
    min-height: 100vh;
    width: 100vw;
}
.profile_edit{
    height: 100%;
}
.image{
    padding: 120px 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    max-width: 580px;
    margin: 0 auto;
}
.profile_btn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    position: relative;
    transition: all .5s ease;
    margin-bottom: 15px;
    background-color: #1d6271;
    & img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        z-index: 1;
        object-fit: cover;
    }
    & svg{
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 40px;
        color: #ffffff50;
        z-index: 0;
    }
}
.profile_btn:hover{
    outline: 4px solid #2194ae;
    & svg{
        color: #fff;
    }
}
.image input{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    background-color: #00000025;
    border: none;
    border-bottom: 2px solid #2194ae;
}

.info_profile{
    background-color: transparent;
    height: 100%;
    margin-top: -70px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 40px 20px;
    margin: -70px auto;
    max-width: 500px;
    & label{
        font-weight: 700;
        color: #555;
        font-style: italic;
        margin: -20px auto 0;
    }
    & textarea{
        font-size: 18px;
        min-height: 60px;
        width: 100%;
        resize: none;
        border: none;
        background-color: #00000025;
        border-bottom: 2px solid #2194ae;
        margin-bottom: 15px;
        max-width: 500px;
        margin: auto;
    }
}
.errorMsg{
    color: #ec4949;
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    box-shadow: 3px 2px 20px #00000070;
}
.links_area{
    max-width: 580px;
    display: flex;
    flex-direction: column;
}
.link_container{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    justify-content: space-between;
    & .edit{
        padding: 10px;
        font-size: 20px;
        background-color: #2194ae;
        border-radius: 10px;
        border: 2px solid;
        color: #000;
    }
    .delete{
        padding: 10px;
        font-size: 20px;
        background-color: #ec4949;
        border-radius: 10px;
        border: 2px solid;
        color: #000;
    }
}
.link_btn{
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    background-color: #ffffff70;
    border: 3px dashed;
    margin-top: 15px;
    color: #000;
}
.links_add{
    position: fixed;
    top: 100px;
    right: calc(50% - 170px);
    background-color: #efefef;
    padding: 20px;
    color: #000;
    box-shadow: 0 0 10px 1000px #00000070;
    margin: 10px auto;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    & .close_btn{
        position: absolute;
        right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        top: -10px;
        background-color: #ec4949;
        color: #fff;
    }
    & p{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
    & label{
        font-weight: 700;
        color: #555;
        font-style: italic;
        margin-top: 20px;
    }
    & input{
        background-color: #00000025;
        font-size: 18px;
        padding: 2px 5px;
        border: none;
        border-bottom: 2px solid #2194ae;
    }
    & .alert{
        font-size: 10px;
        color: #555;
        font-style: italic;
        text-align: left;
        font-weight: 400;
    }
}

.buttons_area{
    display: flex;
    align-items: start;
    justify-content: space-around;
    overflow-y: auto;
    gap: 10px;
    padding: 10px 2px;
    margin-bottom: 5px;
    flex-wrap: wrap;
    & div{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: space-around;
        & p{
            font-size: 12px;
            width: 100%;
            text-align: center;
            flex-grow: 1;
            color: #555;
            font-style: italic;
        }
    }
}

.buttonSelect1{
    padding: 8px 12px;
    border-radius: 30px;
    border: 3px solid;
    font-weight: bold;
    box-shadow: 0px 3px 0 #000;
    color: #000;
}
.buttonSelect2{
    padding: 8px 12px;
    border-radius: 5px;
    border: 3px solid;
    font-weight: bold;
    box-shadow: 2px 3px 0 #000;    
    color: #000;
}
.buttonSelect3{
    padding:  8px 12px;
    border: 1px solid;
    color: #000;
    border-radius: 10px;
    background-color: #00000020;
}
.buttonSelect4{
    padding:  8px 12px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 4px 3px 0 #00000020;
    color: #000;
}
.buttonSelect5{
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 20px;
    border: 3px solid;
    font-weight: bold;
    box-shadow: 5px 4px #000000;
    color: #000;
}
.buttonSelect6{
    padding: 8px 12px;
    transform: skew(-20deg);
    font-weight: bold;
    border: 3px solid;
    background-color: #fff;
    box-shadow: 3px 5px #000;
    color: #000;
}
.buttonSelect7{
    padding: 8px 12px;
    background: linear-gradient(45deg, #ff6f61, #de2d8a); /* Example: Gradient colors */
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.buttonSelect8{
    padding: 8px 12px;
    background: linear-gradient(180deg, #56ccf2, #2f80ed); /* Example: Blue gradient */
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.buttonSelect9{
    padding: 8px 12px;
    background: linear-gradient(180deg, #a8e063, #56ab2f); /* Example: Green gradient */
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
    
.buttonSelect9:hover {
    background-color: #0056b3;
}
    


.selectedButton {
    outline: 2px solid #2194ae; 
  }