.header{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfc0e0;
    & div{
        height: 100%;
        text-align: center;
        background-color: rgb(79, 74, 71);
        width: 100%;
        border-radius: 0 0 20px 20px;
        & h1{
            margin-bottom: 25px;
            margin-top: 80px;
            text-shadow: 2px 1px 2px #0000005f;
        }
        & h3{
            margin-bottom: 100px;
            text-shadow: 1px 2px 3px #0000005f;
            
        }
    }
}
.LinkInfo{
    background-color: #dfc0e0;
    padding: 30px 15px;
    color: #693a6b;
    display: flex;
    flex-direction: column;
    & p {
        margin-bottom: 25px;
    }
    & div{
        width: 100%;
        & img{
            width: 100%;
            border-radius: 20px;
            box-shadow: 6px 8px 10px 2px #a889a9;
        }
    }
}

.profile{
    background-color: #6b705c;
    padding: 30px 15px;
    color: #282926;
    & p{
        margin-bottom: 20px;
    }
    & ul{
        padding: 0 40px;
        list-style: none;
        & li {
            margin-top: 8px;
            display: flex;
            align-items: center;
            gap: 5px;
            & svg{
                background-color: #4682b4;
                color: #fff;
                width: 16px;
                border-radius: 20px;
                padding: 5px;
            }
        }
    }
}

.Info{
    padding: 40px 15px;
    background-color: #4682b4;
    color: #083255;
    display: flex;
    flex-direction: column;
    & p {
        margin-bottom: 25px;
    }
    & img{
        width: 100%;
        border-radius: 20px;
        margin-top: 20px;
        box-shadow: 6px 8px 5px 2px #2f5b7f;
    }
}

.partner{
    background-color: #e5e5e5;
    color: #000;
    padding: 30px 15px;
    & div{
        max-width: 100%;
        display: flex;
        align-items: center;
        & img{
            width: 50%;
        }
    }
}
.title{
    border-bottom: 1px solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 900;
}
@media screen and (min-width: 450px) {
    .LinkInfo{
        flex-direction: row;
        gap: 5%;
        padding: 30px;
        & div {
            width: 45%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            font-size: 1.5rem;
        }
    }
    .Info{
        flex-direction: row-reverse;
        gap: 5%;
        align-items: center;
        justify-content: center;
        & div{
            width: 45%;
            font-size: 1.5rem;
        }
    }
    .image{
        max-width: 100%;
    }
}